/* Set A4 page size */
@page {
    size: A4;
    margin: 1in;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
    max-width: 210mm; /* A4 page width */
    margin: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header h3, .header p {
    margin: 0;
    font-size: 14px;
}

.title {
    text-align: center;
    margin: 20px 0;
}

.title h2 {
    margin: 0;
    text-decoration: underline;
}

.student-info p {
    font-size: 12px;
    margin: 5px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 12px;
}

table th, table td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

thead th {
    /* border-top: 0; */
    /* border-left: 0; */
    /* border-right: 0; */
    border-bottom: 1px solid black;
}

table th {
    background-color: #f0f0f0;
}

tbody td {
    border-left: 0;
    /* border-right: 0; */
}

tbody tr td:first-child {
    border-left: 1px solid black;
}

tbody tr td:last-child {
    border-right: 1px solid black;
}

.summary {
    margin: 20px 0;
    font-size: 12px;
}

.footer {
    margin-top: 20px;
    text-align: start;
    font-size: 12px;
}

.signature {
    margin-top: 20px;
    text-align: right;
    font-size: 12px;
}
